.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  border-left: 1px solid var(--dsw-alias-border-l2);
  background: var(--dsw-alias-bg-base);
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
}
